<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add parking</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>

<div class="container">
    <h3>Add new parking</h3>
    <br>
<!--/*@thymesVar id="apartment" type="java"*/-->
<!--/*@thymesVar id="newParking" type="java"*/-->
<form th:object="${newParking}" th:action="@{/info/add/addParking/{apartmentId}(apartmentId=${apartment.getId()})}" method="post">
    <input type="hidden" th:field="*{id}" />
    <div class="internal-container-apartment">
    <div>
        <label for="name">Name:</label>
        <input  class="add-apartment" type="text" id="name" th:field="${newParking.name}" />
    </div>
    <br>
    <div>
        <label for="time">Time:</label>
        <input class="add-apartment" type="text" id="time" th:field="${newParking.time}" />
    </div>
    </div>
    <br>
    <button type="submit">Add</button>
</form>
<a th:href="@{/apartments/{id}(id=${apartment.getId()})}">Return</a>
</div>
</body>
</html>